{{ define "#/form/email" }}
    <label for="{{ .ID }}">{{ .Label }}</label>
    <input type="email"
           id="{{ .ID }}"
           name="{{ .Name }}"
           placeholder="{{ .Placeholder }}"
           {{ if .Value }}value="{{ .Value }}"{{ end }}
           {{ if .Required }}required{{ end }}>
    {{ if .Error }}
        <div class="form-error">
            {{ .Error }}
        </div>
    {{ end }}
{{ end }}
