{{ define "#/form/hidden" }}
    <input type="hidden"
           id="{{ .ID }}"
           name="{{ .Name }}"
           value="{{ .Value }}"
           {{ if .Required }}required{{ end }}>
{{ end }}
