{{ define "#/form/hidden" }}
    <input type="hidden"
           id="{{ .ID }}"
           name="{{ .Name }}"
           {{ if .Value }}value="{{ .Value }}"{{ end }}
           {{ if .Required }}required{{ end }}>
{{ end }}
