{{ define "#/form/password" }}
    <label for="{{ .ID }}">{{ .Label }}</label>
    <input type="password"
           id="{{ .ID }}"
           name="{{ .Name }}"
           placeholder="{{ .Placeholder }}"
           {{ if .Required }}required{{ end }}>
{{ end }}
